.adminContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    text-align: center;
}

.adminImage {
    width: 300px;
    margin-bottom: 20px;
}

.adminText {
    font-size: 1.2rem;
    color: #4a4a4a;
    margin-bottom: 15px;
}

.adminButton {
    background-color: #2f3d55;
    color: #ffffff;
    border: none;
    padding: 10px 30px;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.adminButton:hover {
    background-color: #1e293b;
}
