@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navContainer {
  background-color: #304265;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 7rem;
  height: 80px;
  top: 0;
  position: sticky;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 6px 19px rgb(12, 35, 212);
}


.nav-logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
  display: inline-block;
}


.nav-left {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
}


.menu-icon {
  display: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}


.nav-links {
  list-style: none;
  display: flex;
  margin-right: 30px;
}

.nav-links li {
  margin-left: 20px;
  position: relative;
  padding-left: 10px;
}

.nav-links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 80%; 
  background: linear-gradient(to bottom, #ff0000, #00ffff); /* Gradient color */
  transition: height 0.3s ease-in-out;
}

.nav-links li:hover::before {
  height: 100%;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 1px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  position: relative;
}



.nav-links a::after,
.nav-links a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ff0000, #00ffff);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.nav-links a::before {
  top: -5px;
  transform-origin: left;
}

.nav-links a:hover::after,
.nav-links a:hover::before {
  transform: scaleX(1);
}



.nav-icon {
  margin-right: 8px;
  font-size: 20px;
}

.nav-links.active {
  display: block;
  position: fixed;
  top: 78px;
  left: 0;
  width: 40%;
  height: 100%;
  background-color: #304265f5;
  text-align: left;
  padding: 0 20px;
  z-index: 1000;
  transform: translateX(0);
  transition: transform 0.3s ease;
}


.nav-links.active li {
  margin: 20px 0;
}

@media screen and (max-width: 768px) {

  
  .menu-icon {
    display: block; 
    position: absolute;
    left: 20px; 
    top: 50%;
    z-index: 9999;
    transform: translateY(-50%);
    font-size: 23px;
  }

  .navContainer{
    justify-content: center; 
    position: relative;
  }

  .nav-logo{
    width: 35px;
  }

  .nav-links {
    display: none; 
  }

  .nav-links.active {
    width: 50%; 
    /* margin-top: 40px; */
  }

  .nav-left {
    position: absolute;
    left: 48%;
    transform: translateX(-50%);
    font-size: 22px;
    display: flex;
    align-items: center;
  }
  

  .nav-links a {
    font-size: 15px;
    margin-left: 2px;
    padding: 10px 2px;
  }

  .nav-links.active {
    text-align: left;
  }
}

@media screen and (min-width: 769px) {
  .nav-icon {
    display: none; 
  }
  

  .nav-left {
    font-size: 26px;
  }

  .nav-links {
    display: flex;
  }
}
