@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navContainer {
  background-color: #304265;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 7rem;
  height: 80px;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 6px 19px rgb(12, 35, 212);
}


.nav-logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
  display: inline-block;
}


.nav-left {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
}


.menu-icon {
  display: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}


.nav-links {
  list-style: none;
  display: flex;
  margin-right: 30px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 8px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #ffe600;
  transform: translateY(-5px);
  background-color: rgba(255, 255, 255, 0.1);
}


.nav-icon {
  margin-right: 8px;
  font-size: 20px;
}

.nav-links.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background-color: #304265;
  text-align: left;
  padding: 20px;
  z-index: 1000;
  transform: translateX(0);
  transition: transform 0.3s ease;
}


.nav-links.active li {
  margin: 20px 0;
}

@media screen and (max-width: 768px) {

  
  .menu-icon {
    display: block; 
    position: absolute;
    left: 20px; 
    top: 50%;
    transform: translateY(-50%);
    font-size: 23px;
  }

  .navContainer{
    justify-content: center; 
    position: relative;
  }

  .nav-logo{
    width: 35px;
  }

  .nav-links {
    display: none; 
  }

  .nav-links.active {
    width: 50%; 
  }

  .nav-left {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  

  .nav-links a {
    font-size: 18px;
    margin-left: 20px;
    padding: 10px;
  }

  .nav-links.active {
    text-align: left;
  }
}

@media screen and (min-width: 769px) {
  .nav-icon {
    display: none; 
  }
  

  .nav-left {
    font-size: 26px;
  }

  .nav-links {
    display: flex;
  }
}
